.cart{
    margin-right: 30px;
    font-size : 30px;
    cursor: pointer;
    position: relative;
}
.cart .cart-cir{
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: red;
    color: #fff;
    right: -8px;
    top: 3px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
}
.clr-wt { 
    color: #fff;
}
.cartHidden {
    display: none;
  }